<ion-header>
  <ion-toolbar>
    <ion-title>CV - Jhordy Aguas</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

    <div class="seccion-presentacion">
      <ion-avatar >
        <img src="assets/img/jhordy.png" alt="Jhordy Aguas"/>
      </ion-avatar>
  <div><h1>Jhordy Aguas</h1>
        <p>Desarrollador Fullstack</p></div>
      
    </div>
  
    <div class="seccion-perfil">
      <h2>PERFIL</h2>
      <p>Soy estudiante de la carrera Tec. Software en la universidad EPN. Mi experiencia se basa en los retos propuestos durante el programa Oracle Next Education.</p>
    </div>
  
    <div class="seccion-habilidades">
      <h2>HABILIDADES</h2>
      <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>React</li>
        <li>Tailwindcss</li>
        <li>Node</li>
        <li>Java</li>
      </ul>
    </div>
  
    <div class="seccion-educacion">
      <h2>EDUCACIÓN</h2>
      <div class="educacion-item">
        <div class="educacion-titulo">Tec. Software Escuela Politécnica Nacional</div>
        <div class="educacion-fecha">2021 - Presente</div>
      </div>
      <div class="educacion-item">
        <div class="educacion-titulo">Alumni ONE Oracle Next Education</div>
        <div class="educacion-fecha">2022 - 2023</div>
        <p>El programa desarrolla a los estudiantes en habilidades técnicas y conductuales para actuar como Jr. Developer, un profesional que trabaja para crear y mejorar sitios web, software y aplicaciones.</p>
      </div>
    </div>
  
    <div class="seccion-contacto">
      <h2>CONTACTO</h2>
      <p><ion-icon name="location"></ion-icon> Quito, Ecuador</p>
      <p><ion-icon name="call"></ion-icon> +593 0968258407</p>
      <p><ion-icon name="mail"></ion-icon> fjhordy1&#64;gmail.com</p>
      <p><ion-icon name="globe"></ion-icon> <a href="jhordyaguas.vercel.app">jhordyaguas.vercel.app</a></p>
    </div>
  
  </ion-content>